.main_section {
  padding: 0px 0px;
  background-color: #fff;
}

.container_main {
  padding: 8px;
  transform: translateY(-55px);
  background-color: #fff;
}

.container {
  padding: 8px;
  transform: translateY(-105px);
  background-color: #fff;
}

.footer {
  padding: 30px;
  transform: translateY(-60px);
  background-color: #fff;
  width: 100%;
  flex: auto;
  text-align: center;
}

.main_text {
  font-size: 14px;
  font-weight: 500;
  color: darkslateblue;
}

.main_text_slim {
  font-size: 12px;
  font-weight: 500;
  color: darkslateblue;
}
