.header {
    width: 100%;
    padding: calc(40px / 2) 10px;
    background-color: #fff;
    min-height: 180px;
}

.logo_icon {
    margin: 0 10px;
}

.logo_text {
    font-size: 24px;
    font-weight: 500;
    color: darkblue;
}

.logo_text_slim {
    font-size: 20px;
    font-weight: 500;
    color: darkblue;
}

.line {
    background-color: #dddddd;
    margin: 12px 2px;
    height: 2px !important;
}

.header_text {
    font-size: 14px;
    font-weight: 500;
    color: darkslategrey;
}

.header_text_slim {
    font-size: 12px;
    font-weight: 500;
    color: darkslategrey;
}
