.header {
    width: 100%;
    padding: calc(40px / 2) 10px;
    background-color: #fff;
    min-height: 180px;
    border-radius: 0 0 10px 10px;
}

.logo_icon {
    margin: 0 12px;
}

.logo_text {
    font-size: 24px;
    font-weight: 500;
    color: darkblue;
}

.line {
    background-color: #243238;
    margin: 15px 4px;
    height: 2px !important;
}

.header_text {
    font-size: 16px;
    font-weight: 500;
    color: darkblue;
}
